
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <link rel="stylesheet" href="~/Content/css/fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/js/cropper/cropper.css" />
    <link rel="stylesheet" href="~/Content/js/cropper/main.css" />

    <script src="~/Content/js/jquery-1.11.1.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>ImgTest</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <!-- <h3 class="page-header">Demo:</h3> -->
                <div class="img-container">
                    <img id="userPhoto" src="~/Images/635894003697417559.bmp" alt="Picture" />
                </div>
            </div>
            <div class="col-md-3">
                <!-- <h3 class="page-header">Preview:</h3> -->
                <div class="docs-preview clearfix">
                    <div class="corpimg-preview preview-lg"></div>
                    <div class="corpimg-preview preview-md"></div>
                    <div class="corpimg-preview preview-sm"></div>
                    <div class="corpimg-preview preview-xs"></div>
                </div>
            </div>
        </div>
     </div>

    <!-- Imported scripts on this page -->>
    <script src="~/Content/js/cropper/cropper.min.js"></script>

    <!-- JavaScripts initializations and stuff -->
    <script src="~/Content/page/registe.js"></script>
</body>
</html>
